h1 {
    text-align: center;
}
#quote_card{
    margin: auto;
    margin-top: 7.5%;
    border: 2px solid black;
    width: 50%;
    height: 300px;
    
}

#quote_card > div {
    height: 50%;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}
div#quote{
    /* margin-top: 80px; */
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
    text-align: left;
    font-size: 1.2em;
}

div#name{
    margin-right: 30px;
    text-align: right;
    font-style: italic;
    font-size: 1.5em;
}

#right{
    display: inline-block;
    border: 2px solid black;
    position: relative;
    width: 120px;
    height: 20%;
    left: 90%;
    top: -90%;
}

#left{
    display: inline-block;
    border: 2px solid black;
    position: relative;
    width: 120px;
    height: 600px;
    left: -30%;
    top: -90%;
}

#b_next{
    position: relative;
    left: 68%;
}

#b_prev{
    position: relative;
    left: 25%;
}
